.gpt3__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.gpt3__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 100px;
    margin: 1rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mercedes, .audi, .porsche, .bmw, .opel{ 
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.porsche{
    width: 120px;
}


.bmw{
    padding-left: 30px;
}



@media screen and (min-width: 600px){
    .mercedes:hover{
        width: 120px;
}

.porsche:hover{
    width: 150px;
}

.bmw:hover{
    width: 130px;
}

.audi:hover{
    width: 150px;
}

.opel:hover{
    width: 150px;
}
}