.wrapper{
    
    height: auto;
    width: 1200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 20px;
    
}

.accordion {
    width: 100%;

}
.plus_minus{
    font-size: 50px;
}




.item{
    background: rgb(122, 160, 214);
    padding: 10px 20px;
    margin-bottom: 10px;
    /* border-color: #3498db;
  
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db; */
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    
  }

.plus_minus:hover{
    color: #040463;
}


.title{
    color: rgb(242, 241, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}
.question{
    font-weight: bolder;
    color: blue;
}
.show{
    color: #040463;
}

.content{
    color:#040463;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}


.show {
    height: auto;
    max-width: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

@media screen and (max-width: 1050px){
    .wrapper{
        width: 100%;
        margin-left:5px;
        padding-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 650px){
    .wrapper{
        width: 100%;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .question{
        font-size: 25px;
    }

    /* .content{
        font-size: 29px;
    } */

    
}

@media screen and (max-width: 550px){

    .wrapper{
        width: 100%;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .question{
        font-size: 20px;
    }
    
}